Have I been Pwned/N8N HIBP workflow
{
  "name": "HIBP Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        176
      ],
      "id": "955763fe-63cb-4736-a5e8-da0496d7d39b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        176
      ],
      "id": "ca179d84-69b9-4fe0-89d1-231cc87198f4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://haveibeenpwned.com/api/v3/breachedaccount/{{ $json.Email }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "hibp-api-key",
              "value": "YOUR_HAVE_I_BEEN_PWNED_API_KEY"
            },
            {
              "name": "user-agent",
              "value": "Anevry-MSP-Monitor"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        -48
      ],
      "id": "1bd4ea1b-3bf6-4193-a914-5ceb05c405c2",
      "name": "HIBP API",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        -48
      ],
      "id": "86953e40-4a8d-4210-88f6-fb1ba1215f39",
      "name": "Wait (Rate Limiting)",
      "webhookId": "140e5764-8d10-4b1e-a22c-9a1e6d312fa3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ba4d826-7718-48dc-ad71-224dd151fb85",
              "leftValue": "={{ $json.body?.length || 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        16
      ],
      "id": "dda7e1f8-a248-449f-819a-e42d0c622fb2",
      "name": "IF-Has Breaches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_DASHBOARD_URL/api/breaches/check",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=email",
              "value": "={{ $('Loop Over Items').item.json.Email }}"
            },
            {
              "name": "breaches",
              "value": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        16
      ],
      "id": "f6868346-a0c8-4b6f-a05b-6539740d49e8",
      "name": "Check Already Notified"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9dd4cc24-44de-4216-b19b-80ab9f12badb",
              "leftValue": "={{ $json.new_breaches.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        16
      ],
      "id": "74a54358-9df6-4129-8acb-056ca391332e",
      "name": "If - Has New Breaches"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_DASHBOARD_URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Get row(s) in sheet').item.json.Email }}"
            },
            {
              "name": "breaches",
              "value": "={{ $('Check Already Notified').item.json.new_breaches }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1856,
        80
      ],
      "id": "8a09887a-b5d6-4aab-b6c1-74650c15ab81",
      "name": "Request - Mark Notified"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_AS_SOURCE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_AS_SOURCE"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        176
      ],
      "id": "8d9bc719-5079-448c-94da-e78c1cf0c945",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_ALERT_WEB_HOOK_THIS_IS_USING_SLACK_ALERTS",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=:rotating_light: *Data Breach Alert*\n\n  *Email:* {{ $('Get row(s) in sheet').item.json.Email }}\n  *Client:* {{ $('Get row(s) in sheet').item.json.Client }}\n\n  *Breaches Found:*\n  ```{{ $json.new_breaches.join('\\n') }}```\n\n  _Recommend password reset and MFA review_"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1632,
        -48
      ],
      "id": "f577c32f-ba1f-4f26-bb5f-74b4525ab0a2",
      "name": "Send Slack Alert"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait (Rate Limiting)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limiting)": {
      "main": [
        [
          {
            "node": "HIBP API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HIBP API": {
      "main": [
        [
          {
            "node": "IF-Has Breaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF-Has Breaches": {
      "main": [
        [
          {
            "node": "Check Already Notified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Notified": {
      "main": [
        [
          {
            "node": "If - Has New Breaches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Has New Breaches": {
      "main": [
        [
          {
            "node": "Request - Mark Notified",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request - Mark Notified": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Request - Mark Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6295343e-0228-4fdf-93fd-4fc7ec39ff04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "7JdAGrUMG43WxPRc",
  "tags": []
}
